.wp-block-my-note-plugin-note-block {
    background-color: #e8f2f9;
    border: solid 1px #63a4d2;
    border-radius: 3px;
    font-size: 14px;
    margin-bottom: 16px;
}

.wp-block-my-note-plugin-note-block__heading {
  background-color: #63a4d2;
  color: white;
  font-weight: bold;
  margin: 0;
  padding: 3px 10px;
}

.wp-block-my-note-plugin-note-block__content {
  padding: 8px 10px;
}

.wp-block-my-note-plugin-note-block__content p {
  margin: 0 0 5px;
}

.wp-block-my-note-plugin-note-block__content p:last-child {
  margin: 0;
}